@keyframes showleft {
    from {
        padding-top: 50%;
        transform: translateX(-70%) rotate(-25deg);
      }
      to {
        transform: translateX(0);
      }
  }

  @keyframes showright {
    from {
        padding-top: 50%;
        transform: translateX(70%) rotate(25deg);
      }
      to {
        transform: translateX(0);
      }
  }

body {
    height: auto;
    width: auto;
}

h1 {
    color: #fffff0; 
}

.styles {
    background: var(--background-color);
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    font-family: "PoppinsMedium";
}

.container {
    display: flex;
    align-self: center;
    margin-right: 22%;
}

.box_login {
    display: flex;
    align-content: center;
    z-index: 5;
}

.cabecalho {
    height: 15.6rem;
    display: flex;
    flex-direction: column;
    background: none;
}

.cabecalho h1{
    z-index: 5;
    font-size: 3.25rem;
}

.image_logo {
    display: flex;
    justify-content: center;
    height: 11.7rem;
    width: 11.7rem;
    background-image: url("cris_password.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12rem; 
}


.image_logo2 {
    display: flex;
    justify-content: center;
    height: 11.7rem;
    width: 11.7rem;
    background-image: url("LOGO_CRIS 1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12rem;
}

.marca {
    display: flex;
    position: absolute;
    z-index: 4;
    bottom: 0%;
    flex: 2 2 0%;
    height: 50%;
}

.hands {
    display: flex;
    height: 11.7rem;
    width: 11.7rem;
}

.left_hand {
    display: flex;
    height: 11.7rem;
    width: 11.7rem;
    padding-top: 10%;
    margin-left: 0.315rem;
    background-image: url("../../assets/mão esquerda.svg");
    background-repeat: no-repeat;
    background-position: left; 
    animation: showleft 0.2s ease-in;
}

.left_hand2 {
    visibility: hidden; 
    display: flex;
    height: 11.7rem;
    width: 11.7rem;
    padding-top: 50%;
    margin-left: 0.315rem;
    background-image: url("../../assets/mão esquerda.svg");
    background-repeat: no-repeat;
    background-position: left; 
    transition: 0.3s;
    transform: translateX(-70%) rotate(-25deg);
}

.right_hand {
    display: flex;
    height: 11.7rem;
    width: 11.7rem;
    padding-top: 10%;
    margin-right: 0.38rem;
    background-image: url("../../assets/mão direita.svg");
    background-repeat: no-repeat;
    background-position: right;
    animation: showright 0.2s ease-in;
}

.right_hand2 {
    visibility: hidden;
    display: flex;
    height: 11.7rem;
    width: 11.7rem;
    padding-top: 50%;
    margin-right: 0.38rem;
    background-image: url("../../assets/mão direita.svg");
    background-repeat: no-repeat;
    background-position: right; 
    transition: 0.3s;
    transform: translateX(70%) rotate(25deg);
}

.ellipse_cris {
    display: flex;
    position: absolute;
    height: 20rem;
    width: 20rem;
    top: 7.5rem;
}

.area {
    display: flex;
    width: 100%;

}

.img_1,
.img_2,
.img_3,
.img_0 {
    display: flex;
    position: absolute;
}

.img_1 {
    height: 100%;
    transition: 1s;
}

.img_2 {
    height: 100%;
    transition: 1s;
}

.img_3 {
    height: 100%;
    transition: 1s;
}

.img_0 {
    justify-content: flex-end;
    align-items: end;
}

.cris_titulo {
    position: absolute;
    z-index: 5;
    color: White;
    display: flex;
    justify-content: center;
    height: 100%;
  

}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 3rem;
    transition: 1s;
}

.cris_titulo .box h2{
    font-size: 5rem;
    margin-left: -30px;
    margin-bottom: -2rem;
    font-family: "PoppinsSemiBold";
  
}
.cris_titulo .box h3{
    font-size: 2.5rem;
    font-family: "PoppinsMedium";
    letter-spacing: 9px;
    line-height: 96px;
    font-weight: 5;

}


.form_login {
    padding: 5% 0 5% 0;
}

.camp_email,
.camp_senha {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 0 5% 0;
}

.icon_email,
.icon_senha {
    background-color: var(--answer-list-color);
    color: #374957;
    height: 3.64rem;
    width: 1.95rem;
    padding: 2.6px 13px 0 13px;
    border-right-style: solid;
    border-right-width: 1px;
    border-radius: 8px 0 0 8px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
}

.camp_email input {
    background-color: var(--answer-list-color);
    font-family: 'PoppinsRegular';
    font-size: medium;
    color: #464646;
    border: none;
    border-radius: 8px;
    height: 3.64rem;
    width: 19.5rem;
    border-radius: 0 8px 8px 0;
    padding-left: 10px;
    outline: none;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

.camp_senha input {
    background-color: var(--answer-list-color);
    font-family: 'PoppinsRegular';
    font-size: medium;
    color: #464646;
    border: none;
    border-radius: 8px;
    height: 3.64rem;
    width: 19.5rem;
    border-radius: 0 8px 8px 0;
    padding-left: 10px;
    outline: none;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

.camp_email input::placeholder, 
.camp_senha input::placeholder {
    font-family: 'PoppinsRegular';
    font-size: 1.2rem;
    opacity: 0.5;
}   

.submit_login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit_login input {
    width: 18.2rem;
    height: 3.9rem;
    border: none;
    border-radius: 8px;
    background-color: var(--ball-darkmode);
    color: white;
    cursor: pointer;
    font-family: "PoppinsSemiBold";
    font-size: 1.95rem;
    text-shadow: 0px 2px 8px black;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}


@media only screen and (max-width: 1110px) {

    .box {
        visibility: hidden;
        transition: 0.3s;
        transform: translateX(-100%);
    }

    .img_1 {
        visibility: hidden;
        transition: 0.3s;
        transform: translateX(-100%);
    }

    .img_2 {
        visibility: hidden;
        transition: 0.3s;
        transform: translateX(-100%);
    }

    .img_3 {
        visibility: hidden;
        transition: 0.3s;
        transform: translateX(-100%);
    }
}

@media only screen and (max-height: 900px) {
    .styles {
        background: var(--background-color);
        display: flex;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        font-family: "PoppinsMedium";
    }
    
    .container {
        display: flex;
        align-self: center;
        margin-right: 22%;
    }
    
    .box_login {
        display: flex;
        align-content: center;
        z-index: 5;
    }
    
    .cabecalho {
        height: 12rem;
        display: flex;
        flex-direction: column;
        background: none;
    }
    
    .cabecalho h1{
        z-index: 5;
        font-size: 2.5rem;
    }
    
    
    .image_logo {
        display: flex;
        height: 9rem;
        width: 9rem;
        background-size: 144px; 
    }
    
    
    .image_logo2 {
        display: flex;
        height: 9rem;
        width: 9rem;
        background-size: 144px;
    }
    
    .marca {
        display: flex;
        position: absolute;
        z-index: 4;
        bottom: 0%;
        flex: 2 2 0%;
        height: 50%;
    }

    .hands {
        display: flex;
        height: 9rem;
        width: 9rem;
    }
    
    .left_hand {
        display: flex;
        height: 9rem;
        width: 9rem;
        padding-top: 10%;
        margin-left: 0.33rem;
        background-image: url("../../assets/mão esquerda.svg");
        background-size: 4.3rem;
        background-repeat: no-repeat;
        background-position: left; 
        animation: showleft 0.2s ease-in;
    }
    
    .left_hand2 {
        visibility: hidden;
        display: flex;
        height: 9rem;
        width: 9rem;
        padding-top: 50%;
        margin-left: 0.33rem;
        background-image: url("../../assets/mão esquerda.svg");
        background-size: 4.3rem;
        background-repeat: no-repeat;
        background-position: left; 
        transition: 0.3s;
        transform: translateX(-70%) rotate(-25deg);
    }
    
    .right_hand {
        display: flex;
        height: 9rem;
        width: 9rem;
        padding-top: 10%;
        margin-right: 0.35rem;
        background-image: url("../../assets/mão direita.svg");
        background-size: 4.3rem;
        background-repeat: no-repeat;
        background-position: right;
        animation: showright 0.2s ease-in;
    }
    
    .right_hand2 {
        visibility: hidden;
        display: flex;
        height: 9rem;
        width: 9rem;
        padding-top: 50%;
        margin-right: 0.35rem;
        background-image: url("../../assets/mão direita.svg");
        background-size: 4.3rem;
        background-repeat: no-repeat;
        background-position: right; 
        transition: 0.3s;
        transform: translateX(70%) rotate(25deg);
    }
    
    .ellipse_cris {
        display: flex;
        position: absolute;
        height: 15.6rem;
        width: 15.2rem;
        top: 2.5rem;
    }
    
    .area {
        display: flex;
        width: 100%;
    
    }
    
    .img_1,
    .img_2,
    .img_3,
    .img_0 {
        display: flex;
        position: absolute;
    }
    
    .img_1 {
        height: 100%;
    }
    
    .img_2 {
        height: 100%;
    }
    
    .img_3 {
        height: 100%;
    }
    
    .img_0 {
        justify-content: flex-end;
        align-items: end;
    }
    
    .cris_titulo {
        position: absolute;
        z-index: 5;
        color: White;
        display: flex;
        justify-content: center;
        height: 100%;
      
    
    }
    
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0 0 3rem;
    }
    
    .cris_titulo .box h2{
        font-size: 3.5rem;
        margin-left: -30px;
        margin-bottom: -2rem;
        font-family: "PoppinsSemiBold";
      
    }
    .cris_titulo .box h3{
        font-size: 1.5rem;
        font-family: "PoppinsMedium";
        letter-spacing: 9px;
        line-height: 96px;
        font-weight: 5;
    
    }
    
    
    .form_login {
        padding: 5% 0 5% 0;
    }
    
    .camp_email,
    .camp_senha {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2% 0 5% 0;
    }
    
    .icon_email,
    .icon_senha {
        background-color: var(--answer-list-color);
        color: #374957;
        height: 2.8rem;
        width: 1.5rem;
        padding: 2px 10px 0 10px;
        border-right-style: solid;
        border-right-width: 1px;
        border-radius: 8px 0 0 8px;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
    }
    
    .camp_email input {
        background-color: var(--answer-list-color);
        font-family: 'PoppinsSemiBold';
        font-size: medium;
        color: #464646;
        border: none;
        border-radius: 8px;
        height: 2.8rem;
        width: 15rem;
        border-radius: 0 8px 8px 0;
        padding-left: 10px;
        outline: none;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    }
    
    .camp_senha input {
        background-color: var(--answer-list-color);
        font-family: 'PoppinsSemiBold';
        font-size: medium;
        color: #464646;
        border: none;
        border-radius: 8px;
        height: 2.8rem;
        width: 15rem;
        border-radius: 0 8px 8px 0;
        padding-left: 10px;
        outline: none;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    }
    
    .camp_email input::placeholder, 
    .camp_senha input::placeholder {
        font-family: 'PoppinsRegular';
        font-size: 1rem;
        opacity: 0.5;
    } 

    .submit_login {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .submit_login input {
        width: 14rem;
        height: 3rem;
        border: none;
        border-radius: 8px;
        background-color: var(--ball-darkmode);
        color: white;
        cursor: pointer;
        font-family: "PoppinsSemiBold";
        font-size: 1.5rem;
        text-shadow: 0px 2px 8px black;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    }
}